/* Style pour le corps de la page */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

/* Style pour le header */
header {
	background: #009dff;
	color: white;
	padding: 20px 0;
	text-align: center;
}

/* Style pour le footer */
footer {
	background: #0093ee;
	color: white;
	text-align: center;
	padding: 10px 0;
	position: relative;
	bottom: 0;
	width: 100%;
}

/* Style pour le contenu principal */
h1 {
	margin-bottom: 10px;
}

p {
	line-height: 1.6;
}

/* Style pour le container principal */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
