/* Style de base */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	/* display: flex; */
	max-width: 80%;
	margin: auto;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f4f4f9;
	color: #333;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	color: #4a90e2;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #333;
}

/* Conteneur */
.container {
	max-width: 600px;
	width: 100%;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

/* Liste de contacts */
ul {
	list-style-type: none;
	margin-bottom: 20px;
}

ul li {
	padding: 10px;
	border-bottom: 1px solid #e0e0e0;
}

ul li:last-child {
	border-bottom: none;
}

/* Formulaire */
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input[type="text"],
input[type="email"],
button {
	padding: 10px;
	font-size: 1rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus {
	border-color: #4a90e2;
}

button {
	background-color: #4a90e2;
	color: #ffffff;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #357ab8;
}
